<header>
  <link rel="stylesheet" href="/styles/_header.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <nav class="navbar">
    <div class="nav-wrapper">
      <div id="nav-logo"><img class="logo" src="https://pngimg.com/uploads/lotus_flower/lotus_flower_PNG15.png">
      </div>

      <div class="navbar-items">
        <a class="nav-item nav-link" href="/home">Home</a>
        <a class="nav-item nav-link" href="/menu">Menu</a>
        <a class="nav-item nav-link" href="/orders">Orders</a>
        <a class="nav-item nav-link" href="/login">Login</a>
        <a class="nav-item nav-link" href="/register">Register</a>
        <a class="nav-item nav-link" href="/cart">My cart</a>
        <a class="nav-item nav-link" href="/profile">Profile</a>
        <a class="nav-item nav-link" href="/logout">Logout</a>
        <a class="nav-item nav-link" href="/admin">Admin</a>
      </div>
    </div>
  </nav>
</header>
