node_modules/
.env
*.log
*.sqlite3
.DS_Store
package-lock.json

TWILIO_ACCOUNT_SID="ACf8be39d2891dbf4a81428d5caa308093"
TWILIO_AUTH_TOKEN="dfb704fd47300118ba7ad4e6c52bc448"
MY_PHONE_NUMBER="+1 778 231 0585" 