<!DOCTYPE html>
<html lang="en">

<head>
  <title>Cart</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/cart.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/cart.js"></script>
  <script type="text/javascript" src="/scripts/pay-order.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>
</head>

<body>
  <%-include('partials/_header') %>
    <h1>Cart:</h1>
    </div>
    <div class="pay-order">
      <span>Items:</span>
      <div id="pay-o-summary" class="pay-order-summary">
        <p class="pay-order-summary-item">

        </p>
      </div>
      <div class="subtotal-wrapper">
        <span>Total after taxes:</span>
        <p class="pay-order-subtotal"></p>
      </div>

      <form id="notes-form" onkeydown="return event.key != 'Enter';">
        <label id="notes-label" for="notes"><span>Notes:</span></label>
        <textarea placeholder="Your special request is welcomed ;)" class="cart-notes"></textarea>
      </form>

      <div class="cart-buttons">
        <button id="review-order-button" href="/menu" class="btn btn-primary" type="submit" value="submit">Review
          Order</button>
        <form method="POST" action="">
          <button id="pay-order-button" class="btn btn-primary" type="submit" value="submit">Pay my Order</button>
        </form>
      </div>
    </div>
    <div id="spinner " class="spinning-lotus">
      <img src="https://i.ibb.co/VgZjHVf/Lotus-Flower-360.png">
    </div>
    <div class="payment-msg">
      <p>Payment processed. Thank you for choosing us.</p>
    </div>

    <script>
      $(function () {
        $("#pay-order-button").click(function () {
          if (Number($(".pay-order-subtotal").attr("data-value")) <= 0) {
            alert("You cart is empty. Please review it.");
            return;
          }
          let notes = $(".cart-notes").val();
          window.localStorage.setItem("notes", notes);

          setTimeout(function () {
            let actualDivDisplay = $(".spinning-lotus").css("display");
            let newDivDisplay = "";
            if (actualDivDisplay == "none") {
              newDivDisplay = "flex";
            } else {
              newDivDisplay = "none";
            }
            $(".spinning-lotus").css("display", newDivDisplay);
          }, 1000);

          setTimeout(function () {
            let actualDivDisplay = $(".payment-msg").css("display");
            let newDivDisplay = "";
            if (actualDivDisplay == "none") {
              newDivDisplay = "flex";
            } else {
              newDivDisplay = "none";
            }
            $(".payment-msg").css("display", newDivDisplay);
          }, 4500);

        });
      });
    </script>

    <script>
      let mySummary = JSON.parse(window.localStorage.getItem("summary"));
      let mySubtotal = JSON.parse(window.localStorage.getItem("counterSubtotal") * 1.13);

      for (let item of mySummary) {
        let returnValue = `<p class="pay-order-summary-item">
${item.quantity}x ${item.dishTitle} $${item.price} <br>
</p>`
        $("#pay-o-summary").append(returnValue);
      };
      $(".pay-order-subtotal").html(`$ ${mySubtotal.toFixed(2)}`)
      $(".pay-order-subtotal").attr("data-value", mySubtotal.toFixed(2))
    </script>


</body>

</html>
