<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;600&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/home.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script
      src="https://kit.fontawesome.com/4ea6e3ab0b.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>
  </head>

  <body>
    <nav><%- include('partials/_header.ejs') %></nav>

    <h1 id="welcome-title">Welcome to Black Lotus Restaurant</h1>

    <p id="welcome-description">
      Experience the best of Indian cuisine at the comfort of your home
    </p>

    <div class="banner-background">
      <img
        class="banner-pic"
        src="https://i.ibb.co/KjKZ8Pw/banner-pic.jpg"
        alt="indian-cuisine-photo"
      />
      <!-- Order now button -->
      <div class="button-container">
        <a href="/menu" alt="Order now">Order now</a>
      </div>
      <!-- end of Order now button -->
    </div>

    <div id="hours-awards-address">
      <div class="work-hours">
        <h3>Hours:</h3>
        <div class="single-day">
          <p><span>Monday</span> - Closed</p>
          <p><span>Tuesday to Friday</span> - 10am to midnight</p>
          <p><span>Saturday</span> - 9am to 2am</p>
          <p><span>Sunday</span> - 9am to midnight</p>
        </div>
      </div>

      <div class="awards">
        <h3>Awards:</h3>
        <ul>
          <div class="single-award">
            <img src="https://i.ibb.co/qBrr3BV/Award-2.png" />
            <img src="https://i.ibb.co/PgLP203/Award-3.png" />
            <img src="https://i.ibb.co/tPQmnQr/Award-1.png" />
          </div>
        </ul>
      </div>

      <div class="address">
        <h3>Find us:</h3>
        <p>505 Main St. - Vancouver, BC</p>
        <p>+1 123-456-7890</p>
        <p>
          <i href="#" class="fa-brands fa-facebook"></i>
          <i class="fa-brands fa-instagram"></i>
          <i class="fa-brands fa-whatsapp"></i>
          <i class="fa-brands fa-yelp"></i>
          <i class="fa-brands fa-google"></i>
        </p>
      </div>
    </div>
  </body>
</html>
