<!DOCTYPE html>
<html lang="en">

<head>
  <title>Restaurant Name</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body>
  <%-include('partials/_header') %>

  <h3>Login Page</h3>
  <div class="login-form">
  <form action="/login" method="POST">
    <label for="email" >Email:</label>
    <input type="email" name="email" >
    <label for="password">Password:</label>
    <input type="password" name="password">
    <input type="submit" Value="Login">
  <div>
</body>

</html>
