<!DOCTYPE html>
<html lang="en">

<head>
  <title>Login</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/login.css" type="text/css" />


  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body>
  <%-include('partials/_header') %>
  <div>
      <div class="login-wrapper">
        <h3>Login:</h3>
        <div class="login-form">
          <form action="/login" method="POST">
            <div class="login-email">
              <label for="email">Email:</label>
              <input type="email" name="email">
            </div>
            <div class="login-password">
              <label for="password">Password:&nbsp;&nbsp;</label>
              <input type="password" name="password">
            </div>
            <div class="login-button">
            <input  type="submit" Value="Submit">
          </div>
          </form>
        </div>
      </div>
  </div>
</body>
<!-- <div>
<div class="error-alert" display="none">Invalid username or password!</div> -->

</html>

