<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/styles/summary.css" type="text/css" />
</head>
<body>
  <nav>
    <%- include('partials/_header.ejs') %>
  </nav>
  <h1>Welcome user</h1>
  <h2>Order summary</h2>
  <div>
    <table>
      <tr>
      <th>Name of the dishes</th>
      <th>Prices</th>
      <th>Prices after taxes</th>
    </tr>
    <% for(let user of users) { %>
      <tr><td><%= user.title %></td></tr>
      <tr><td><%= user.total_price %></td></tr>
    <% } %>

</table>
  </div>



</body>
</html>