<!DOCTYPE html>
<html lang="en">

<head>
  <title>Register</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/register.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>
</head>

<body>
  <%-include('partials/_header') %>
    <div class="register-wrapper">
      <h3>Register:</h3>
      <div class="register-email">
        <form action="/register" method="POST" class="registration">
          <label for="email">Email:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
          <input type="email" name="email">
      </div>
      <div class="register-password">
        <label for="password">Password:&nbsp;</label>
        <input type="password" name="password">
      </div>
      <div class="register-name">
        <label for="name">Name:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
        <input type="name" name="name">
      </div>
      <div class="register-phone">
        <label for="phoneNumber">Phone:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
        <input type="phoneNumber" name="phoneNumber">
      </div>
      <div class="register-button">
        <input type="submit" Value="Submit">
      </div>
      </form>
    </div>

</body>

</html>
