h2 {
  text-align:  center;
  background-color: azure;
  font-size: 40px;
  height: 55px;
  margin-top: 30px;
  padding-top: 5px;
  border-radius: 10px;
}
.table {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 0px;
  background: #c97e06;
  border-radius: 5px;
  margin-left: 170px;
  margin-right: 170px;
}
.items {
  padding: 2px;
  font-size: 21px;
  margin-right:150px
}
.prices {
  padding: 2px;
  font-size: 21px;
  margin-right: 35px;
}
.amount {
  padding: 2px;
  font-size: 21px;
}

.tips {
  padding: 2px;
  font-size: 21px;
}
.quantity {
  padding: 2px;
  font-size: 21px;
  margin-right: 40px;
}
hr {
  border: solid 1px inset;
  color: red;
  display: block;
  margin: 0.6em auto;
  margin-right: 100px;
  margin-left: 100px;
  visibility: hidden;
}
.table .total {
  border: solid 1px inset;
  color: red;
  display: block;
  margin: 0.6em auto;
  margin-right: 100px;
  margin-left: 00px;
}
.welcome-wrapper{
  display: flex;
  justify-content: space-between;
  font-size: 30px;
  margin-bottom: -35px;
}